body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

h1 {
  color: darkblue;
  text-align: center;
}

p {
  background-color: lightyellow;
  padding: 10px;
  margin: 20px;
  border: 2px solid orange;
  text-align: center;
}
