/* ===== Layout Dasar ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, Arial, sans-serif;
  background: #f5f7fa;
  color: #222;
  line-height: 1.6;
}
.site-header {
  background: #e8effb;
  text-align: center;
  padding: 2rem 1rem;
}
.site-header h1 {
  margin-bottom: 0.5rem;
}
.site-header p {
  color: #555;
}

/* Kontainer */
.container {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 1rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.site-footer {
  text-align: center;
  padding: 2rem;
  color: #666;
}


.main-nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 16px;
  /*agar list bisa turun kebawah*/
  flex-wrap: wrap;
  

}
.main-nav{
  margin-top: 18px;
}

.main-nav ul li a{
  color: white;
  text-decoration:none;
  background: blueviolet;
  padding: 6px 20px;
  border-radius: 6px;
  display: block;

}

/* ukuran 1024px => desktop++ */
@media screen and (min-width: 1024px) {
  /* masukkan tag / target selector */
  .site-header {
    background: indigo;
    color: white;
  }
  .site-header {
    color: white;
  }
}

/* ukuran 768-1023px => tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* masukkan tag / target selector */
    .site-header {
    background: rgb(79, 44, 236);
    color: white;
    }
    .site-header p {
    color: white;
    }

    .main-nav ul {
      display: flex;
      flex-direction: column;
    }
    
    .main-nav ul li{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

  }
}

/* ukuran max 767px => smartphone */
@media screen and (max-width: 767px) {
  /* masukkan tag / target selector */
  .site-header h1{
    /*kecilin font biar gak bablas*/
    font-size: 24px; 
    color: indigo;
  }
  .site-header p{
    /*kecilin font biar gak bablas*/
    font-size: 14px;
  }

      .main-nav ul {
      display: flex;
      flex-direction: column;
    }
  
}
